In [27]:
import pandas as pd

In [28]:
df = pd.read_excel('data/tp2pandas.xlsx')
df1 = df.ffill(axis=0) #inverse de ffill = bffill
df1

,Id,Nom,Prenom,Université,Grade,Spécialité,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Unnamed: 8,Unnamed: 9,Unnamed: 10,Publications Scientifiques,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nom et Prénom,Grade,Spécialité,Intitulé de la structure,NaN,NaN
1,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20.0
2,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 2,PES,Informatique,SSBK,Nombre des communications,10.0
3,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 3,PA,Informatique,MISC,Nombre de thèses encadrées,4.0
4,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 4,PA,Santé,H2C,Nombre de thèses encadrées,4.0
5,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur A,PES,Physique,KZEE,Nombre des articles,10.0
6,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur B,PES,Informatique,S2SD,Nombre des communications,5.0
7,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur C,PH,Informatique,MISC,Nombre de thèses encadrées,3.0
8,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur D,PA,Santé,MISC,Nombre de thèses encadrées,3.0
9,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur E,PA,Physique,KZEE,Nombre de thèses encadrées,3.0
10,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a1,PH,Informatique,FFSD,Nombre des articles,15.0
11,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a11,PH,Informatique,FFSD,Nombre des communications,15.0
12,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a22,PH,Electrique,ZQW,Nombre de thèses encadrées,7.0
13,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a33,PES,Physique,MARO,Nombre de thèses encadrées,7.0
14,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a44,PA,Physique,MARO,Nombre de thèses encadrées,7.0
15,4.0,Hayoun,Adam,UCA,PES,Physique,CASIF,chercheur b1,PES,Physique,CASIF,Nombre des articles,15.0
16,4.0,Hayoun,Adam,UCA,PES,Physique,CASIF,chercheur b11,PH,Physique,CASIF,Nombre des communications,15.0
17,4.0,Hayoun,Adam,UCA,PES,Physique,CASIF,chercheur b11,PH,Physique,CASIF,Nombre de thèses encadrées,7.0

# Question 1

In [29]:
df_pub = df1['Publications Scientifiques']
df_pub

0                            NaN
1            Nombre des articles
2     Nombre des communications
3     Nombre de thèses encadrées
4     Nombre de thèses encadrées
5            Nombre des articles
6     Nombre des communications
7     Nombre de thèses encadrées
8     Nombre de thèses encadrées
9     Nombre de thèses encadrées
10           Nombre des articles
11    Nombre des communications
12    Nombre de thèses encadrées
13    Nombre de thèses encadrées
14    Nombre de thèses encadrées
15           Nombre des articles
16    Nombre des communications
17    Nombre de thèses encadrées
Name: Publications Scientifiques, dtype: object

In [30]:
df1[df_pub.str.contains("articles")==True]

,Id,Nom,Prenom,Université,Grade,Spécialité,Structure de recherche Porteuse,Membre des structures de recherche partenaires,Unnamed: 8,Unnamed: 9,Unnamed: 10,Publications Scientifiques,Unnamed: 12
1,1.0,Hakam,Amine,UM5R,PES,Informatique,IPSS,chercheur 1,PA,Informatique,IPSS,Nombre des articles,20.0
5,2.0,Chakour,Hatim,UIT,PES,Informatique,MISC,chercheur A,PES,Physique,KZEE,Nombre des articles,10.0
10,3.0,Amouri,Aya,UIZ,PH,Informatique,FFSD,chercheur a1,PH,Informatique,FFSD,Nombre des articles,15.0
15,4.0,Hayoun,Adam,UCA,PES,Physique,CASIF,chercheur b1,PES,Physique,CASIF,Nombre des articles,15.0

In [31]:
df_article = df1[df_pub.str.contains("articles")==True]
for i in range(len(df_article)):
    print(df_article.iloc[i,1],df_article.iloc[i,2],"=",df_article.iloc[i,12],"articles")

Hakam Amine = 20.0 articles
Chakour Hatim = 10.0 articles
Amouri Aya = 15.0 articles
Hayoun Adam = 15.0 articles

# Question 2

In [32]:
df_comms = df1[df_pub.str.contains("communications")==True]
for index, row in df_comms.iterrows():
    print(row.iloc[1],row.iloc[2],"=",row.iloc[12],"communications")

Hakam Amine = 10.0 communications
Chakour Hatim = 5.0 communications
Amouri Aya = 15.0 communications
Hayoun Adam = 15.0 communications

# Question 3

In [33]:
df_these = df1[df_pub.str.contains('thèses')==True].drop_duplicates("Nom") 
for i in range(len(df_these)):
    print(df_these.iloc[i,1],df_these.iloc[i,2],"=",df_these.iloc[i,12],"thèses encadrées")

Hakam Amine = 4.0 thèses encadrées
Chakour Hatim = 3.0 thèses encadrées
Amouri Aya = 7.0 thèses encadrées
Hayoun Adam = 7.0 thèses encadrées

# Question 4

**methode1**

In [34]:
for i in range(len(df_article)):
    somme = df_article.iloc[i,12]+df_comms.iloc[i,12]+df_these.iloc[i,12]
    print(df_article.iloc[i,1],df_article.iloc[i,2],"=",somme,"publications")

Hakam Amine = 34.0 publications
Chakour Hatim = 18.0 publications
Amouri Aya = 37.0 publications
Hayoun Adam = 37.0 publications

**methode2**

In [35]:
df_somme = df.dropna(subset=['Publications Scientifiques']).ffill()
df_somme.groupby(['Nom','Prenom'])['Unnamed: 12'].sum()

Nom      Prenom
Amouri   Aya       37.0
Chakour  Hatim     18.0
Hakam    Amine     34.0
Hayoun   Adam      37.0
Name: Unnamed: 12, dtype: float64

# Question 5

In [ ]:
df

**methode1**

In [37]:
nb_recherche = df1.drop_duplicates(subset=['Membre des structures de recherche partenaires']).ffill()
nb_recherche.groupby(['Nom','Prenom'])['Membre des structures de recherche partenaires'].count().reset_index()

       Nom Prenom  Membre des structures de recherche partenaires
0   Amouri    Aya                                               5
1  Chakour  Hatim                                               5
2    Hakam  Amine                                               4
3   Hayoun   Adam                                               2

**methode2**

In [38]:
nb_recherche = df.dropna(subset=['Membre des structures de recherche partenaires']).ffill()
nb_recherche.groupby(['Nom','Prenom'])['Membre des structures de recherche partenaires'].count().reset_index()

       Nom Prenom  Membre des structures de recherche partenaires
0   Amouri    Aya                                               5
1  Chakour  Hatim                                               5
2    Hakam  Amine                                               4
3   Hayoun   Adam                                               2

# Question 6

In [ ]:
nb_recherche

Fonction de supprimer les duplique dans une df

In [40]:
def supprimer_duplique(data):
    data_unique = []
    for i in data:
        if i not in data_unique:
            data_unique.append(i)
    return ','.join(data_unique)

**methode1**

In [41]:
intitule = nb_recherche.groupby(['Nom','Prenom'])['Unnamed: 10'].agg(supprimer_duplique)
intitule

Nom      Prenom
Amouri   Aya            FFSD,ZQW,MARO
Chakour  Hatim         KZEE,S2SD,MISC
Hakam    Amine     IPSS,SSBK,MISC,H2C
Hayoun   Adam                   CASIF
Name: Unnamed: 10, dtype: object

**methode2**

In [42]:
intitule = nb_recherche.groupby(['Nom','Prenom'])['Unnamed: 10'].unique().apply(list)
intitule.reset_index()

       Nom Prenom              Unnamed: 10
0   Amouri    Aya        [FFSD, ZQW, MARO]
1  Chakour  Hatim       [KZEE, S2SD, MISC]
2    Hakam  Amine  [IPSS, SSBK, MISC, H2C]
3   Hayoun   Adam                  [CASIF]

# Question 7

In [ ]:
df

In [44]:
specialite = df.dropna(subset=['Unnamed: 9']).ffill(axis=0)

**methode1**

In [45]:
specialite.groupby(['Nom','Prenom'])['Unnamed: 9'].agg(supprimer_duplique)

Nom      Prenom
Amouri   Aya       Informatique,Electrique,Physique
Chakour  Hatim          Physique,Informatique,Santé
Hakam    Amine                   Informatique,Santé
Hayoun   Adam                              Physique
Name: Unnamed: 9, dtype: object

**methode2**

In [46]:
specialite.groupby(['Nom','Prenom'])['Unnamed: 9'].unique().apply(list).reset_index()

       Nom Prenom                            Unnamed: 9
0   Amouri    Aya  [Informatique, Electrique, Physique]
1  Chakour  Hatim       [Physique, Informatique, Santé]
2    Hakam  Amine                 [Informatique, Santé]
3   Hayoun   Adam                            [Physique]

# Question 8

In [ ]:
df1

**methode1**

In [48]:
val = int(input("Entrer l'id du chercheur :"))
df_id = df1.iloc[:,1:3].where(df["Id"]==val).drop_duplicates().dropna()
df_id

     Nom Prenom
1  Hakam  Amine

**methode2**

In [49]:
val = int(input("Entrer l'id du chercheur :"))
df_id = df1[['Id','Nom','Prenom']].drop_duplicates().set_index('Id').dropna()
df_id.loc[val]

Nom       Hakam
Prenom    Amine
Name: 1.0, dtype: object

# Question 9

In [ ]:
df1

In [64]:
id = int(input("Entrer l'id du chercheur :"))
#info personne
df_id = df1.drop_duplicates('Id').set_index('Id')
print(df_id[['Nom','Prenom','Université','Grade','Spécialité','Structure de recherche Porteuse']].loc[id])
#autre methode
df_id = df1.drop_duplicates('Nom').dropna()
for i in range(7):
    print(df_id.columns[i],":",df_id.iloc[id-1,i])
print()
#info chercheurs
members = df1[df1['Id'] == id].iloc[:,7:11].set_axis(['Nom et prenom','Grade','Specialite','Intitulé de la structure'],axis=1)
print(members)
print()
#info publication scientifiques
publication = df1[df1['Id']==id].iloc[:,[11,12]].drop_duplicates('Publications Scientifiques').set_index('Publications Scientifiques').rename(columns={'Unnamed: 12':''})
publication

Id : 1.0
Nom : Hakam
Prenom : Amine
Université : UM5R
Grade : PES
Spécialité : Informatique
Structure de recherche Porteuse : IPSS

  Nom et prenom Grade    Specialite Intitulé de la structure
1   chercheur 1    PA  Informatique                     IPSS
2   chercheur 2   PES  Informatique                     SSBK
3   chercheur 3    PA  Informatique                     MISC
4   chercheur 4    PA         Santé                      H2C

Publications Scientifiques
Nombre des articles         20.0
Nombre des communications   10.0
Nombre de thèses encadrées   4.0