#### Importing packages

In [1]:
import numpy as np 
import pandas as pd

In [7]:
from sklearn import impute 
from sklearn import preprocessing 
from sklearn import compose

In [3]:
df = pd.read_csv('datasets/Achat.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

#### Affichage des premier lignes

In [4]:
df.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [5]:
x = df.iloc[:, :-1].values 
y = df.iloc[ :, -1].values

In [ ]:
# création d'une instance de SimpleImputer
imputer = impute.SimpleImpute(missing_values = np.nan, strategy ='mean')

In [ ]:
# Ajustement du SimpleImputer aux données X[:, 1:3] avec fit 
# transformation des données X[:, 1:3] avec fit 
# les valeurs manquantes avec transform 
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

In [ ]:
# Afficher les premiers lignes de la base de données après le nettoyage 
print (X)

In [10]:
# Encodage des variables indépendantes 
ct = compose.ColumnTransformer(transformers = [('encoder', preprocessing.OneHotEncoder(), [0])], remainder = 'passthrough')
X=np.array(ct.fit_transform(X), dtype = np.int32) 
print (X)

NameError: name 'X' is not defined